<h2>Project Manager</h2>

<div>
 
  <button (click)="addTask()">
    Add Task
  </button>  
  <button (click)="addUser()">
    Add User
  </button>   
  <button (click)="viewTask()">
    View Task
  </button> 
    
</div>

<div>
  <h2>Add Project</h2>
  <div>
    <label>Project:
      <input [(ngModel)]="projectData.project" placeholder="Project"/>
    </label><br>
    <label>Start Date:
      <input [(ngModel)]="projectData.startDate" placeholder="Start Date"/>
    </label><br>
    <label>End Date:
      <input [(ngModel)]="projectData.endDate" placeholder="End Date"/>
    </label><br>
    <label>Priority:
      <input [(ngModel)]="projectData.priority" placeholder="Priority"/>
    </label><br>    
  </div>
  <br>
  <button (click)="addProject()">Add</button>
  <button (click)="addProject()">Reset</button>
</div>
<br>

<table>
  <tr>
    <th>Project</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Priority</th>
  </tr>
  
  <tr *ngFor="let p of projects; let i=index;"> 
    <td>{{p.project}} </td>
       <td>{{p.startDate}}</td>
    <td>{{p.endDate}}</td>
    <td>{{p.priority}}</td>
  </tr>

  </table>
