<h2>Project Manager</h2>

<div>
  <button (click)="addProj()">
    Add Project
  </button>
  <button (click)="addTask()">
    Add Task
  </button>  
  <button (click)="addUser()">
    Add User
  </button>   
  <button (click)="addTask()">
    View Task
  </button> 
    
</div>

<ul class="projects">
  <li *ngFor="let p of projects; let i=index;">
    <a routerLink="/project-details/{{p.projectId}}">
      <span class="badge">{{i+1}}</span> {{p.project}}
      <span class="badge">{{i+1}}</span> {{p.startDate}}
      <span class="badge">{{i+1}}</span> {{p.endDate}}
      <span class="badge">{{i+1}}</span> {{p.priority}}
    </a>
    <button class="delete" title="delete project"
      (click)="delete(p.projectId)">x</button>
  </li>
</ul>